<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
 		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/rag</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<mapping class="net.rag.hib.model.inherit.Person"></mapping>
		<mapping class="net.rag.hib.model.inherit.MyEmployee"></mapping>
		<mapping class="net.rag.hib.model.inherit.Book"></mapping>
		<mapping class="net.rag.hib.model.inherit.Pen"></mapping>
		<mapping class="net.rag.hib.model.inherit.Stationery"></mapping>
		<mapping class="net.rag.hib.model.inherit.Car"></mapping>
		<mapping class="net.rag.hib.model.inherit.Bus"></mapping>
		<mapping class="net.rag.hib.model.inherit.Vehicle"></mapping>
		<mapping class="net.rag.hib.model.inherit.Animal"></mapping>
		<mapping class="net.rag.hib.model.inherit.Pet"></mapping>
	</session-factory>

</hibernate-configuration> 